
:root{
    --background: #252525
    --primary: #ffa400
    --secondary: #fc2933
    --text--white: #ffffff
    --botton: #ffa100#fb103d
    --backgroundds: black
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "poppins", sans-serif;
    list-style-type: none;
    
}

/*HEADER*/ 

header{
    background-color: #131415 ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 30px 0px 30px;
    position: fixed;
    top: 0;

}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 100px;
}

.navbar-list{
    gap: 30px;
}

/*MAIN*/
main {
    background-color: #131415;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text--white);
    
}

/*HERO*/

#hero{
    display: flex;
    padding: 70px 0px;
    width: 90px;
    justify-content: space-around;

}

.hero-presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

}
.hero-presentation h1 {
    font-size: 48px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color: var(--text--white);
}

.hero-presentation p {
    font-weight: 300;
    font-size: 14px;
    max-width: 350px;
    color: var(--text);
    

}

.button-container{
    display: flex;
    gap: 15px;

}

.button-container a{
    text-decoration: none;
    border: 3px solid var(--botton);
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 600;

}


.ver-mas{
    background-color: var(--botton);
    color: var(--text);

}

.hero-img{
    width: 450px;
}

#info{
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

#info h2{
    font-size: 22px;
    font-weight: 500;
    color: white;

}

.info-card-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;

}

.info-card{
    width: 280px;
    height: 300px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: initial;
    background: rgba(37, 37, 37, 1);
    box-shadow: 0px 0px 50px 0px rgba(1, 2, 7, 0.5);
    border-radius: 10px;
    gap: 20px;
}

.info-card img{
    width: 237px;
    height: 97px;
    top: 1136px;
    left: 799px;
    border-radius: 16px;
    background: #252525;


}

.info-card h3{
    font-weight: 500px;
    font-size: 15px;
    color: rgb(255, 254, 254);
}

.info-card p{
    font-size: 14px;
    font-weight: 300px;
    color: #756f6f;
    align-items: baseline;

}

.info-card span{
    
    color: white;
    text-align: left;
    width: 300px;
    padding: 3px 0px;
    font-size: 19px;
}

a{
    background: linear-gradient(#FFA100, #FB103D);
    color: white;
    text-align: center;
    width: 55px;
    padding: 5px 0;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}




footer{
    background: #131415;
    color: rgb(255, 254, 254);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 0;

}

footer a,
footer p{
    color: var(--text-gray);
    font-weight: 300px;
    font-size: 14px;
    
}

footer span{
    font-weight: 800;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 20px;
}