@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --background:#131415;
    --bg-card: #252525;
    --bg-degrade-am:#ffa400 ;
    --bg-degrade-rj: #fc2933;
    
    --text-white: #ffffff;
    --text-gray: #e4e4e4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/*HEADER*/ 

header{
    background: var(--background);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    position: fixed;
    top: 0;
}

.logo{
    margin: 50px;
    height: 65px;
}

.navbar p{
    font-size: 12px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    color: var(--text-white);
    background: var(--bg-degrade-rj);
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    left: 15px;
    top: 10px;
}

.navbar-list, .navbar-home{
    height: 65px;
    padding: 0px 30px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar-home{
    gap: 10px;
}

.navbar-home p, .navbar-home img{
    cursor: pointer;
}
.navbar-cart{
    padding: 30px;
}
.navbar-profile{
    padding: 15px;
}

.navbar-profile img{
    cursor: pointer;
}

.navbar-cart img{
    cursor: pointer;
}

.navbar a{
    color: var(--text-white);
    font-size: 13px;
}


/*MAIN*/


main {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/*HERO*/

.hero{
    margin: 20px;
    margin-top: 50px;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-info p{
    line-height: 30px;
    font-size: 20px;
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-info h1 {
    color: var(--text-white);
    font-size: 90px;
    min-width: 500px;
    margin: 0px; 
}

.hero-info a{
    line-height: 80px;
    color: var(--text-white);
    font-weight: 600;
    font-size: 11px;
    padding: 16px 50px;
    border-radius: 15px;
    background: linear-gradient( 90deg, #ffa100, #fb103d);
    cursor: pointer;
}
.hero-img{
    width: 1000px;
}

.hero-img{
    animation: movimiento 2.5s linear infinite;
}

@keyframes movimiento{
    0%{
        transform: translateY(10);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
}



/*INFO*/
#info{
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#info h2{
    margin: 0px 80px;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-white);
}


.info-recomendacion{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 60px;
    padding: 20px 50px;
}

.card{
    width: 390px;
    height: 110px;
    padding: 10px;
    gap: 30px;
    background-size: 30px 50px;
    display: flex;
    background-color: var(--bg-card);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.card:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 0px 5px #f03b1b;
}

.card h3{
    color: var(--text-white);
    font-weight: 400;
    margin: 5px 0px;
}

.card p{
    color: var(--text-white);
    opacity: 30%;
    font-weight: 100;
    margin: 5px 0px;
}

.card span{
    font-weight: 900;
    font-size: 130%;
    background: linear-gradient(90deg, #ffa100, #fb103d);
    -webkit-background-clip: text;
    color: transparent;
}

.button{
    background: linear-gradient(90deg, #ffa100, #fb103d) ;
    border: none;
    padding: 10px 18px;
    border-radius: 50px;
    color: var(--text-white);
    cursor: pointer;
    font-size: 80%;
    font-weight: 400;
}

/*CATEGORIAS*/


.categorie{
    padding: 30px 90px;
}

.categorie h3{
    padding: 50px 45px;
    color: var(--text-white);
    font-size: 18px;
}

.food{
    padding: 15px;
    gap: 18px;
    display: flex;
    background-color: var(--bg-card);
    border-radius: 15px;
    height: 180px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.food a{
    border: none;
    padding: 2px 13px;
    background: linear-gradient(90deg, #ffa100, #fb103d);
    border-radius: 20px;
}

.food p{
    color: var(--text-white);
    font-weight: 300;
    font-size: 14px;
}

.categorie-card{
    display: flex;
    gap: 60px;
    padding: 0px 50px;
    align-items: flex-start;
    flex-wrap: wrap;
    cursor: pointer;
}

.food p:hover{
    font-weight: 600;
}

.food:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 0px 5px #f03b1b;
}


/*LO MAS POPULAR*/

#popular{
    gap: 50px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#popular h2{
    color: var(--text-white);
    font-weight: 300;
    padding: 0px 50px;
}

.info-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.info-card{
    padding: 20px;
    background-color: var(--bg-card);
    border-radius: 15px;
    height: 280px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .5s;
}


.info-card:hover{
    transform: scale(1.08);
    box-shadow: 0px 0px 0px 5px #f03b1b;
}


.detalle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-card, .detalle, .top-info{ 
    display: flex;
    justify-content: space-between;
}


.detalle h3{
    margin: 15px 0 0 0;
    color: var(--text-white);
    font-weight: 300;
}

.detalle h3:hover{
    font-weight: 600;
}

.info-card p{
    font-weight: 300;
    margin: 10px 0;
    color: var(--text-white);
    opacity: 30%;   
}

.info-card span{    
    font-weight: 900;
    font-size: 130%;
    background: linear-gradient(90deg, #ffa100, #fb103d);
    -webkit-background-clip: text;
    color: transparent;
}

.top-info button{
    background: linear-gradient(90deg, #ffa100, #fb103d);
    color: var(--text-white);
    border-radius: 30px;
    border: none;
    height: 35px;
    width: 95px;
    font-weight: 600;
    cursor: pointer;
}

footer{
    background: var(--background);
    color: var(--text-white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px 0;
}

.footer-links{
    display: flex;
    gap: 30px;
}


footer span{
    font-weight: 600;    
}

.footer-links a, .footer-links p{
    color: var(--text-gray);   
}

footer a:hover{
    color: var(--text-white);
    font-weight: 600;
}


.navbar-home a:hover{
    color: var(--text-white);
    font-weight: 600;
}